
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
</head>

<body class="bg-gray-200 ">
  <div class="max-w-screen-xl m-auto my-40">
    <div class="w-full max-w-md m-auto py-6 bg-white rounded overflow-hidden shadow-xl">
        <table class="border-separate   border-2 border-gray-500 m-auto">
        <thead>
            <tr>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">ETH Address</th>
            <th class="border border-gray-400 px-4 py-2 text-gray-800">Email</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(entry){ %>
            <tr>
                <td class="border px-4 py-2">
                    <a href="/view_address/<%= entry.eth %>" class="cursor-pointer text-blue-700">
                        <%= entry.eth %>
                    </a>
                </td>
                <td class="border px-4 py-2"><%= entry.email %></td>
            </tr>
            <%  }); %>
        </tbody>
        </table>
    </div>
  </div>


</body>

</html>